.mystyle {
  display: none;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 1.6rem;
  font-family: 'Raleway', sans-serif;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 160%;
  font-weight: bold;
}

a, a:hover {
  text-decoration: none !important;
}

hr {
  opacity: 1;
  margin: 10rem 0;
  background-color: #fff;
}

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

.preloader .pre-loader {
  height: 100vh;
  width: 100vw;
  background-color: #2f3640;
  display: -ms-grid;
  display: grid;
  place-content: center;
}

.preloader .pre-loader .loading {
  height: .4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.preloader .pre-loader .loading .obj {
  height: 0px;
  width: .6rem;
  background-color: #fff;
  margin: 0 3px;
  border-radius: 10px;
  -webkit-animation: loading .8s infinite, .8s colors infinite;
          animation: loading .8s infinite, .8s colors infinite;
}

.preloader .pre-loader .loading .obj:nth-child(2) {
  -webkit-animation-delay: .1s;
          animation-delay: .1s;
}

.preloader .pre-loader .loading .obj:nth-child(3) {
  -webkit-animation-delay: .2s;
          animation-delay: .2s;
}

.preloader .pre-loader .loading .obj:nth-child(4) {
  -webkit-animation-delay: .3s;
          animation-delay: .3s;
}

.preloader .pre-loader .loading .obj:nth-child(5) {
  -webkit-animation-delay: .4s;
          animation-delay: .4s;
}

.preloader .pre-loader .loading .obj:nth-child(6) {
  -webkit-animation-delay: .5s;
          animation-delay: .5s;
}

.preloader .pre-loader .loading .obj:nth-child(7) {
  -webkit-animation-delay: .6s;
          animation-delay: .6s;
}

.preloader .pre-loader .loading .obj:nth-child(8) {
  -webkit-animation-delay: .7s;
          animation-delay: .7s;
}

.preloader .pre-loader .loading .obj:nth-child(9) {
  -webkit-animation-delay: .8s;
          animation-delay: .8s;
}

.preloader .pre-loader .loading .obj:nth-child(10) {
  -webkit-animation-delay: .9s;
          animation-delay: .9s;
}

.preloader .pre-loader .loading .obj:nth-child(11) {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.preloader .pre-loader .loading .obj:nth-child(12) {
  -webkit-animation-delay: 1.1s;
          animation-delay: 1.1s;
}

.preloader .pre-loader .loading .obj:nth-child(13) {
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
}

.preloader .pre-loader .loading .obj:nth-child(14) {
  -webkit-animation-delay: 1.3s;
          animation-delay: 1.3s;
}

.preloader .pre-loader .loading .obj:nth-child(15) {
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

.preloader .pre-loader .loading .obj:nth-child(16) {
  -webkit-animation-delay: 1.6s;
          animation-delay: 1.6s;
}

@-webkit-keyframes loading {
  0% {
    height: 0;
  }
  50% {
    height: 10rem;
  }
  100% {
    height: 0;
  }
}

@keyframes loading {
  0% {
    height: 0;
  }
  50% {
    height: 10rem;
  }
  100% {
    height: 0;
  }
}

@-webkit-keyframes colors {
  0% {
    background-color: #4cd137;
  }
}

@keyframes colors {
  0% {
    background-color: #4cd137;
  }
}

header {
  background: url(image/bg.jpg) center no-repeat;
  background-size: cover;
  height: 130vh;
  min-height: 600px;
  font-family: tahoma;
  font-size: 2.4rem;
  overflow: hidden;
  background-attachment: fixed;
  display: -ms-grid;
  display: grid;
  place-content: center;
  position: relative;
  padding-bottom: 10rem;
  margin-bottom: -1px;
}

header::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 25rem;
  background-color: #3498DB;
  -webkit-clip-path: polygon(100% 0, 0 100%, 100% 100%);
          clip-path: polygon(100% 0, 0 100%, 100% 100%);
  bottom: 0;
  z-index: 1;
}

header::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.425);
}

header .logo {
  position: fixed;
  right: 4rem;
  top: 20px;
  color: #ff4757;
  z-index: 19;
}

header .navigation-menu-bars,
header .navigation-menu-bars::after,
header .navigation-menu-bars::before {
  content: '';
  cursor: pointer;
  border-radius: 2px;
  width: 25px;
  height: 2px;
  background-color: #fff;
  position: absolute;
  left: 0;
  top: 50%;
  display: block;
  -webkit-transition: all .3s;
  transition: all .3s;
}

header .navigation-menu {
  height: 100%;
  position: fixed;
  width: 600px;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: -webkit-transform .3s .3s;
  transition: -webkit-transform .3s .3s;
  transition: transform .3s .3s;
  transition: transform .3s .3s, -webkit-transform .3s .3s;
  z-index: 20;
}

header .navigation-menu::before {
  content: '';
  background: #ff4757;
  height: 400%;
  left: 50%;
  position: absolute;
  -webkit-transform: translate(-50%, -50%) rotate(40deg);
          transform: translate(-50%, -50%) rotate(40deg);
  width: 100%;
  z-index: 0;
}

header .navigation-menu-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

header .navigation-menu-open .navigation-menu-bars {
  background: transparent;
}

header .navigation-menu-open .navigation-menu-bars::before {
  content: '';
  top: 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

header .navigation-menu-open .navigation-menu-bars::after {
  content: '';
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 0;
}

header .navigation-menu-toggle {
  cursor: pointer;
  height: 30px;
  position: absolute;
  right: -40px;
  top: 10px;
  width: 30px;
}

header .navigation-menu-toggle .navigation-menu-bars::after {
  content: '';
  left: 0;
  top: -8px;
}

header .navigation-menu-toggle .navigation-menu-bars::before {
  content: '';
  left: 0;
  top: 8px;
}

header .menu-list {
  padding: 60px 20px;
  position: relative;
  z-index: 10;
  display: -ms-grid;
  display: grid;
  place-content: center;
  text-transform: uppercase;
}

header .menu-list .menu-list-item {
  margin: 10px 0;
  -webkit-transition: opacity .5s .5s;
  transition: opacity .5s .5s;
}

header .menu-list .menu-list-item a {
  color: #fff;
  font-weight: bold;
  position: relative;
}

header .menu-list .menu-list-item a::before {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: #fff;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: .5s;
  transition: .5s;
}

header .menu-list .menu-list-item a:hover::before {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.hero {
  z-index: 12;
  min-width: 40rem;
  text-align: center;
  color: #3b5999;
}

.hero p {
  text-align: center;
}

.hero p img {
  height: 20rem;
  width: 20rem;
  border-radius: 50%;
}

.hero h2 {
  font-size: 4rem;
}

.hero h2 span {
  color: #ff4757;
  font-size: 5rem;
  text-transform: capitalize;
}

.about {
  position: relative;
  background-color: #3498DB;
  padding-bottom: 1rem;
  color: #fff;
}

.about::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 25rem;
  background-color: #3498DB;
  -webkit-clip-path: polygon(0 100%, 100% 0, 0 0);
          clip-path: polygon(0 100%, 100% 0, 0 0);
  z-index: 1;
  bottom: -24.95rem;
}

.about .text-white h2 {
  font-size: 10rem;
  padding-bottom: 0;
  font-weight: 900;
}

.about .text-white p {
  max-width: 60%;
  float: right;
}

.about .about-slider .p1 {
  outline: transparent;
  display: -ms-grid;
  display: grid;
  place-content: center;
}

.about .about-slider .p1 figure {
  border-radius: 50%;
  height: 300px;
  width: 300px;
  overflow: hidden;
  position: relative;
}

.about .about-slider .p1 figure img {
  height: 100%;
  width: 100%;
}

.about .about-slider .p1 figure .overlay {
  position: absolute;
  top: 100px;
  left: 100px;
  background: red;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  padding-left: 22px;
  border: 2px solid #fff;
  background-color: rgba(0, 0, 0, 0.575);
  opacity: 0;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: ease-out 0.35s;
  transition: ease-out 0.35s;
}

.about .about-slider .p1 figure .overlay p {
  width: 2rem;
  color: black;
  position: absolute;
  width: 120px;
  top: 80px;
  left: 50px;
  color: #fff;
  font-weight: 700;
}

.about .about-slider .p1 figure .overlay p a {
  color: #3498DB;
  text-decoration: underline !important;
}

.about .about-slider .p1 figure:hover .overlay {
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
}

.about .about-link {
  margin-bottom: 2rem;
}

.about .about-link a {
  color: #ff4757;
  -webkit-transition: .3s;
  transition: .3s;
}

.about .about-link a:hover {
  color: #ff7a86;
}

.about .about-social a i {
  font-weight: 400;
  font-size: 2rem;
  background: black;
  color: #fff;
  height: 4rem;
  width: 4rem;
  line-height: 4rem;
  text-align: center;
  border-radius: 50%;
  -webkit-transition: .5s;
  transition: .5s;
  margin: 0 .4rem;
}

.about .about-social a i:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  background-color: #fff;
}

.about .about-social a i:hover.fa-youtube {
  color: #cd201f;
}

.about .about-social a i:hover.fa-facebook {
  color: #3b5999;
}

.about .about-social a i:hover.fa-twitter {
  color: #55acee;
}

.about .about-social a i:hover.fa-google-plus-g {
  color: #dd4b39;
}

.about .about-social a i:hover.fa-linkedin-in {
  color: #0077B5;
}

.about .about-social a i:hover.fa-instagram {
  color: #e4405f;
}

.services {
  background: url(image/back1.jpg) no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  position: relative;
  padding-top: 20rem;
  padding-bottom: 26rem;
}

.services::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.432);
}

.services::before {
  content: "";
  background-color: #f1c40f;
  height: 25rem;
  width: 100%;
  -webkit-clip-path: polygon(100% 0, 0% 100%, 100% 100%);
          clip-path: polygon(100% 0, 0% 100%, 100% 100%);
  position: absolute;
  bottom: -1px;
  left: 0;
  z-index: 1;
}

.services .service-body {
  z-index: 1;
  position: relative;
}

.services .service-body .services-content h2 {
  font-size: 10rem;
  padding-top: 2rem;
  padding-bottom: 0;
  font-weight: 900;
}

.services .service-body .services-content p {
  max-width: 60%;
  float: right;
}

.services .card-section .card {
  height: 30rem;
  overflow: hidden;
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.178);
  border-radius: 1rem;
  position: relative;
  -webkit-transition: .3s linear;
  transition: .3s linear;
  margin-bottom: 3rem;
}

.services .card-section .card .card-body {
  display: -ms-grid;
  display: grid;
  place-content: center;
}

.services .card-section .card .card-body p i {
  font-size: 10rem;
  color: #ff4757;
  padding-bottom: 2rem;
}

.services .card-section .card .card-body::before {
  height: 100%;
  width: 100%;
  background-color: #ff4757;
  color: #fff;
  padding: 1rem;
  position: absolute;
  bottom: -100%;
  left: 0;
  display: -ms-grid;
  display: grid;
  place-content: center;
  -webkit-transition: .3s ease-out;
  transition: .3s ease-out;
  opacity: 0;
  content: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus libero mollitia deleniti veniam asperiores quasi provident ducimus";
}

.services .card-section .card:hover {
  border: 1px solid transparent;
  -webkit-box-shadow: 8px 8px 40px 0px rgba(0, 0, 0, 0.822);
          box-shadow: 8px 8px 40px 0px rgba(0, 0, 0, 0.822);
}

.services .card-section .card:hover .card-body::before {
  bottom: 0;
  opacity: 1;
}

.services .content a {
  color: #ff4757;
  -webkit-transition: .3s;
  transition: .3s;
}

.services .content a:hover {
  color: #ff7a86;
}

#progress {
  height: auto;
  background-color: #f1c40f;
  position: relative;
  padding: 2rem 0;
}

#progress img {
  height: 42rem;
}

#progress::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 25rem;
  background-color: #f1c40f;
  -webkit-clip-path: polygon(0 100%, 100% 0, 0 0);
          clip-path: polygon(0 100%, 100% 0, 0 0);
  z-index: 1;
  bottom: -24.95rem;
}

#progress .text-white h2 {
  font-size: 10rem;
  padding-bottom: 0;
  font-weight: 900;
}

#progress .text-white p {
  max-width: 60%;
  float: right;
}

#progress .progressbars {
  text-transform: uppercase;
  color: #fff;
}

#progress .progressbars h2 {
  margin-top: 2rem;
}

#progress .progressbars .progress {
  height: 2rem;
  border-radius: 2rem;
  background: #ffffff;
  -webkit-box-shadow: inset 5px 5px 4px 0px #000000;
          box-shadow: inset 5px 5px 4px 0px #000000;
}

#progress .progressbars .progress .progress-bar {
  background: transparent;
  position: relative;
  border-radius: 3rem;
  -webkit-box-shadow: 1px 4px 10px 2px #000000, -5px -5px 38px #ffffff;
          box-shadow: 1px 4px 10px 2px #000000, -5px -5px 38px #ffffff;
}

#progress .progressbars .progress .progress-bar::before {
  content: '';
  position: absolute;
  right: 0px;
  height: 3rem;
  width: 5rem;
  border-radius: 2rem;
  background: #9a8a8a42;
  -webkit-box-shadow: -5px -5px 38px 2px #000000;
          box-shadow: -5px -5px 38px 2px #000000;
}

#progress .progressbars .progress .progress-bar-striped {
  background: transparent;
}

#progress a {
  color: #ff4757;
  -webkit-transition: .3s;
  transition: .3s;
}

#progress a:hover {
  color: #ff7a86;
}

#contact {
  background: url(image/ph.jpg) no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  padding-top: 25rem;
  padding-bottom: 10rem;
}

#contact h2 {
  font-size: 10rem;
  padding-top: 2rem;
  padding-bottom: 0;
  font-weight: 900;
}

#contact p {
  max-width: 60%;
  float: right;
}

#contact h2, #contact p {
  color: #ff4757;
}

#contact hr {
  background: #ff4757;
}

#contact .form-control {
  font-size: 1.6rem;
  border-top-right-radius: 3rem;
  border-bottom-left-radius: 3rem;
  border-bottom-right-radius: 0;
  border-top-left-radius: 0;
  background: #a4b0be;
  color: #fff;
  outline: transparent;
  border: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}

#contact .form-control:focus {
  outline: transparent;
  border: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}

#contact input[type="submit"] {
  padding: .8rem 2rem;
  background-color: #ff4757;
  color: #fff;
  font-weight: 700;
  outline: transparent;
  border: transparent;
  text-transform: uppercase;
  -webkit-transition: .5s;
  transition: .5s;
  border-radius: .3rem;
}

#contact input[type="submit"]:hover {
  color: #ff4757;
  background-color: #fff;
}

footer {
  background-color: #34495e;
  color: #ecf0f1;
  padding: 5rem 0;
}

footer a .logo {
  color: #ff4757;
}

footer .about-social a i {
  color: #ecf0f1;
  background-color: #000;
  height: 3rem;
  width: 3rem;
  text-align: center;
  line-height: 3rem;
  border-radius: 50%;
  -webkit-transition: .5s;
  transition: .5s;
  font-size: 1.8rem;
  margin: 0 .5rem;
}

footer .about-social a i:hover {
  background-color: #ecf0f1;
}

footer .about-social a i:hover.fa-facebook {
  color: #3b5999;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

footer .about-social a i:hover.fa-twitter {
  color: #55acee;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

footer .about-social a i:hover.fa-instagram {
  color: #e4405f;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.footer-bottom {
  background-color: black;
  padding: 2rem;
  color: #ecf0f1;
}

.footer-bottom p {
  margin-bottom: 0;
}
/*# sourceMappingURL=style.css.map */